**/gen/
**/edmx/
*.db
schema.sql
default-env.json

**/bin/
**/target/
.flattened-pom.xml
.classpath
.project
.settings
**.factorypath

**/node/
**/node_modules/

**/.mta/
*.mtar

*.log*
gc_history*
hs_err*
*.tgz
*.iml

.vscode
.idea

.DS_Store
Makefile_*

*.zip
.factorypath
*.imlgen/
gen/
.history/

*.mtapackage-lock.json
*.ipr
*.iws

mta_archives
/srv/.openapi-generator/
